.messageWrapper {
  padding-inline: 12px;
  background-color: var(--clr-primary-container);
  color: var(--clr-on-primary-container);
  padding-block: 8px;
  width: fit-content;
  position: relative;
  max-width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infoWrapper {
  position: absolute;
  left: 0;
  width: max-content;
  bottom: -20px;
}
.user {
  align-self: flex-end;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}
.user .infoWrapper {
  left: auto;
  right: 0;
}

.error {
  background-color: var(--clr-error-container);
  color: var(--clr-on-error-container);
}
