.wrapper {
  padding: 10px;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  background-color: var(--clr-surface-container);
}

.input-root {
  &:hover .notchedOutline {
    border-color: "orange";
  }
}
